.dtable-plugin.xx-plugin {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.dtable-plugin .xx-plugin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
  height: 48px;
  line-height: 48px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid #e7eaec;
}

.dtable-plugin .xx-plugin-header .plugin-name {
  font-size: 20px;
  font-weight: bold;
}

.dtable-plugin .xx-plugin-header .plugin-close>span {
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.dtable-plugin .xx-plugin-header .plugin-close>span:hover {
  font-size: 20px;
  color: #333;
}

.dtable-plugin .xx-plugin-content {
  padding: 20px;
  overflow: auto;
}